header {
  padding: 20px 30px;

  font-weight: 700;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header ul {
  display: flex;
  list-style: none;
}

header li {
}

header li:not(:last-child) {
  margin-right: 20px;
}

.NavLink {
  color: black;
  text-decoration: none;
}

.NavLink__active,
.NavLink:hover {
  color: red;
}
