*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  // line-height: 1.15; /* 1 */
}

body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  // line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

.Routes {
  padding: 30px;
}
